.profile-wrapper {
	width: 100vw;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-popup-button {
	position: absolute !important;
	left: calc(100% - 25rem);
	top: 3rem;
	padding: 2rem;
}

.profile-page-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
}

@media screen and (max-height: 70vw) {
	.profile-page-main {
		flex-direction: row;
		gap: 2rem;
	}
}

.profile-page-locker {
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) 1fr;
	grid-template-rows: 1fr;
	max-width: 80vw;
	direction: rtl;
}

.profile-page-locker > div {
	height: 47rem;
	max-width: 47rem;
}
