.chat-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	height: 100svh;
	gap: 4rem;
}

.chat-back-wrapper {
	position: absolute;
	top: 0;
	left: 0;
}

.chat-title {
	position: absolute;
	top: 0;
}
