.notification-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	margin: 2rem 2rem 0 0;
	cursor: auto;
	border-radius: 2rem;
	pointer-events: auto;
}

.notification-wrapper p {
	padding: 0;
	margin: 0;
}
