.matchmaking-wrapper {
	position: absolute;
	top: 2rem;
	left: 0;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	pointer-events: none;
}

.matchmaking-pending {
	justify-self: end;
}

.matchmaking-styled-bg {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.matchmaking-styled-bg::before {
	content: '';
	display: block;
	position: absolute;
	border-radius: 50%;
	width: 150%;
	height: 100%;
	background-color: rgb(0, 245, 155);
	filter: blur(1rem);
}
