.bank-navbar {
	display: flex;
	gap: 1rem;
	position: absolute;
	top: 7rem;
}

.tab {
	background: #0000008e;
	padding: 1rem;
	box-shadow: -.5rem .5rem 0 rgba(255, 255, 255, 0.644);
	transition: 50ms ease-in-out;
}

.tab:hover {
	background: black;
	box-shadow: -.5rem .5rem 0 white;
}

.selected-tab {
	background: black;
	box-shadow: -.5rem .5rem 0 white;
}
