.bank-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	max-width: 85vw;
}

.bank-panel h1 {
	text-align: center;
}

.bank-panel section {
	width: 100%;
	box-sizing: border-box;
}

.bank-panel-loan-requests {
	position: relative;
}

.bank-panel-count {
	--count-dimensions: 5rem;
	position: absolute;
	top: 0;
	right: 0;
	background: red;
	border-radius: 50%;
	width: var(--count-dimensions);
	height: var(--count-dimensions);
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(50%, -50%);
}
