.bank-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	max-width: 85vw;
}

.bank-panel h1 {
	text-align: center;
}

.bank-panel section {
	width: 100%;
	box-sizing: border-box;
}

.bank-panel-li {
	background: transparent;
	transition: .1s ease;
}

.bank-panel-li:hover {
	background: rgba(0, 0, 0, 0.1);
}

.panel-li-btn {
	width: 100%;
	height: 100%;
	text-align-last: left;
}
