.popup-background {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	opacity: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: initial;
	animation: 0.1s linear coming-background;
}

.popup-bg-closing {
	animation: 150ms linear coming-background-reverse;
}

.popup {
	background: rgb(201, 201, 201);
	padding: 30px;
	border-radius: 10px;
	border-radius: 20px;
	cursor: initial;
}

.popup-cancel {
	position: absolute;
	top: -20px;
	right: -20px;
	padding: 5px;
	border-radius: 50%;
	background: #6a6a6a;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.popup-cancel img {
	width: 40px;
	height: 40px;
}





.popup-friends {
	background: var(--dark-blue);
	animation: 0.1s ease-out coming-friends;
	align-self: end;
	margin-right: 40px;
	height: 80%;
}

.popup-friends-closing {
	animation: 150ms ease-out coming-friends-reverse;
}




.popup-profile {
	animation: 0.1s ease-out coming-center;
	background: #555;
	color: white;
}

.popup-profile-closing {
	animation: 150ms ease-out coming-center-reverse;
}




.friend-detail {
	display: flex;
	flex-direction: column;
	align-items: start;
}





@keyframes coming-friends {
	0% {
		transform: translateX(110%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes coming-friends-reverse {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(110%);
	}
}

@keyframes coming-background {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes coming-background-reverse {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes coming-center {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes coming-center-reverse {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}