.friend-detail-pres {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 6rem;
}

.friend-details-actions {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-self: flex-start;
	margin-top: 2rem;
	gap: 1rem;
}
