.theme-blue {
	--background-color: #3490bb;
	--background-darker-color: #1a3c75;
}

.theme-red {
	--background-color: #ac5b5b;
	--background-darker-color: #6f2d2d;
}

.theme-gray {
	--background-color: rgb(79, 78, 74);
	--background-darker-color: rgb(38, 35, 38);
}

.theme-purple {
	--background-color: #7118b0;
	--background-darker-color: #391b55;
	/* --background-darker-color: #4d1b7b; */
}

.background-supervisor {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100svh;
	overflow: hidden;
}

.background-supervisor div {
	position: absolute;
	width: 100%;
	height: 100%;
}

.background-stars {
	--pattern-dimensions: 10rem;
	background-repeat: repeat;
	background-size: var(--pattern-dimensions) var(--pattern-dimensions);
	animation: moveStars 8s linear infinite;
}

@keyframes moveStars {
	0% {
		background-position: 0 calc(var(--pattern-dimensions) / 4);
	}
	100% {
		background-position: var(--pattern-dimensions) calc(var(--pattern-dimensions) / 4);
	}
}

.background-gradient {
	background:
		linear-gradient(to bottom, transparent 50%, var(--background-darker-color) 100%),
		radial-gradient(circle at 50% 50%, transparent 60%, var(--background-color) 100%);
}
