.friends-btn {
	background: #1d71ba;
	padding: 2rem;
}

.friends-btn img {
	width: 6rem;
	height: 6rem;
	margin-right: 1rem;
}

.friends-popup-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	width: 30rem;
}

.friends-popup-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.friends-popup-header h2 {
	font-size: 1em;
	padding: 0;
	margin: 1rem;
}

.friends-popup-header img {
	height: 4rem;
	width: auto;
	cursor: pointer;
}

.friends-result-wrapper {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
	overflow-y: auto;
	padding-bottom: 1rem;
}

.friends-result-wrapper::-webkit-scrollbar {
	width: 0;
}

.friend-fetched {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	padding: 1rem;
	margin-top: 1rem;
	border-radius: 1.5rem;
	background: var(--blue);
}

.friends-result-btn {
	margin-top: 2rem;
}
