.home-wrapper {
	width: 100vw;
	height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.home-header {
	margin: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.money-friends {
	display: flex;
	justify-content: space-between;
	align-items: start;
	width: 40%;
}

.home-footer {
	margin: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: end;
	z-index: 0;
}

.home-settings {
	background: #555;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-settings img {
	width: 20rem;
	height: 20rem;
}


@media screen and (max-width: 460px) {
	.money-friends {
		flex-direction: column;
		align-items: end;
		gap: 3rem;
	}
}
