.home-wrapper {
	width: 100vw;
	height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.home-header {
	margin: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.money-friends {
	display: flex;
	justify-content: space-between;
	align-items: start;
	width: 40%;
}

.shop-play-buttons {
	display: flex;
	flex-direction: column;
}

.home-shop-button-wrapper {
	align-self: end;
	justify-self: end;
	margin: 4rem;
}

.home-footer {
	padding: 3rem;
	display: flex;
	justify-content: space-between;
	justify-self: end;
	align-items: end;
	z-index: 0;
}

.home-settings {
	background: #555;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-settings img {
	width: 23rem;
	height: 20rem;
	object-fit: cover;
}

.bank-settings-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.avatar-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
	height: 75%;
	z-index: 0;
	overflow: hidden;
}

@media screen and (max-width: 460px) {
	.money-friends {
		flex-direction: column-reverse;
		align-items: end;
		gap: 3rem;
	}
}
