.textual-chat-wrapper {
	display: flex;
	width: 80vw;
	height: calc(100svh - 40rem);
	flex-direction: column;
	gap: 2rem;
	box-sizing: border-box;
}

.game-message {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.game-form {
	width: 80%;
	position: absolute;
	bottom: 5rem;
}

.game-input {
	width: 100%;
	box-sizing: border-box;
}

.game-form button {
	--length: 5rem;
	width: var(--length);
	height: var(--length);
	border-radius: var(--length);
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	right: 2rem;
	bottom: 1.7rem;
}
