.transfers-wrapper {
	margin: 0rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
}

.transfers-form {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.transfers-field {
	font-size: 5rem;
}

.transfers-friends-wrapper {
	box-sizing: border-box;
	height: calc(100vh - 50rem);
}
